.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:flex-start; */
  padding: 45px;
  height: 100vh; /* Optional: Adjust the height of the container based on your layout */
  background-color: rgba(6, 26, 45, 0.895);
  

}

.button-container {
  display: flex;
   /* Adjust the gap between buttons */
}

/* Style for individual button */
.button {
  padding: 10px 20px;
  background-color: #0a4e7b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
h1{
  color: #010101;
  text-align: center;
  padding: 8px;
  margin: 0%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color:#f0f3f5;
}
h2,p{
  color: white;
}
.button:hover {
  background-color: #2980b9;
}
